{% extends "base.html" %}
{% block title %}Changer le mot de passe{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4">
      <h1 class="h4 mb-3">Nouveau mot de passe</h1>
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.password.label(class="form-label") }}{{ form.password(class="form-control") }}</div>
        <div class="mb-3">{{ form.confirm.label(class="form-label") }}{{ form.confirm(class="form-control") }}</div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
