{% extends "base.html" %}
{% block title %}Nouveau {{ terms.followed_singular }}{% endblock %}
{% block content %}
<h1 class="h3 mb-4">Nouveau {{ terms.followed_singular }}</h1>
<div class="card p-4">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-6 mb-3">{{ form.first_name.label(class="form-label") }}{{ form.first_name(class="form-control") }}</div>
      <div class="col-md-6 mb-3">{{ form.last_name.label(class="form-label") }}{{ form.last_name(class="form-control") }}</div>
      <div class="col-md-6 mb-3">{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}</div>
      <div class="col-md-6 mb-3">{{ form.password.label(class="form-label") }}{{ form.password(class="form-control") }}</div>
      <div class="col-md-6 mb-3">{{ form.phone.label(class="form-label") }}{{ form.phone(class="form-control") }}</div>
      <div class="col-md-6 mb-3">{{ form.sessions_planned.label(class="form-label") }}{{ form.sessions_planned(class="form-control") }}</div>
      <div class="col-md-6 mb-3">{{ form.hourly_rate_override.label(class="form-label") }}{{ form.hourly_rate_override(class="form-control") }}</div>
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
